html, body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: silver;
}

#header {
  width: 100%;
  background-color: black;
  padding: 1%;
  opacity: .8;
  position: fixed;
  top: 0;
}

#nav ul {
  margin: 0;
  padding: 0;
}

#nav ul li {
  display: inline;
  margin-right: 4%;
}

#social-media a {
  display: inline-block;
  background: transparent url("/images/twitter-bird-dark-bgs.png") no-repeat center top;
  background-size: contain;
  width: 23px;
  height: 22px;
}

.post-blurb h3 {
  width: 100%;
}

.post-blurb h3 em {
  text-align: right;
}

.icon-link {
  text-indent: -9999px;
  overflow: hidden;
  text-align: left;
  display: inline-block;
}

.background {
  background: transparent url("/images/anya.jpg") no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 400px;
}

.content-container {
  width: 65%;
  margin: 0 auto;
}
