body {
  font-family: Georgia, "Times New Roman", Verdana;
  line-height: 150%;
  font-size: 95%;
}

#site-title {
  font-family: "Open Sans", Helvetica;
  text-transform: uppercase;
}

#site-title h1 {
  font-weight: normal;
}

#site-title strong {
  font-weight: bold;
}
