body {
  font-family: Georgia, "Times New Roman", Verdana;
  line-height: 150%;
  font-size: 95%;
}

#site-title {
  font-family: "Open Sans", Helvetica;
  text-transform: uppercase;
}

#site-title h1 {
  font-weight: normal;
  font-size: 90%;
  color: white;
  margin: 0;
  padding: 0;
}

#site-title #nav {
  font-size: 85%;
}

#site-title a {
  color: white;
  text-decoration: none;
}

#site-title strong {
  font-weight: bold;
}
