<!DOCTYPE html>
<html>
<head>
  <title>Daniel Konopacki | Master Jedi, Pixie Dust Engineering at Walt Disney : Technologist Storyteller, Amateur Chef, Husband, Dad, Wanna-be Photographer, Sartorialist, Car Geek, and much much more  | {{ page.title }}</title>
  <meta name="author" content="Daniel Konopacki" />
  <link rel="stylesheet" href="/css/layout.css" type="text/css" />
  <link rel="stylesheet" href="/css/typography.css" type="text/css" />
</head>

<body>
  <div id="header">
    <div class="content-container">
      <div id="site-title">
        <h1><a href="/">Daniel<strong>Konopacki</strong></a></h1>
      </div>
    </div>
  </div>
  <div class="background"></div>
  <div id="content" class="content-container">
    {{ content }}
  </div>
</body>
</html>
